<!DOCTYPE html>
<!-- start that AngularJS app -->
<html ng-app= "theList">
<head>
  <title>The List</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- start that AngularJS view -->
<div ng-view>
  <%= yield %>
</div>

</body>
</html>
